<h2 class="pb-3 mb-4 mt-4 border-bottom">
  <%= @title %>
  <%= link_to "Criar Novo Artigo" , new_article_path, class: 'btn btn-success float-end' %>
</h2>

<p class="text-end">

</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Created At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.id %></td>
        <td><%= article.title %></td>
        <td><%= article.created_at %></td>
        <td>
          <a href="<%= article_path(article.id) %>" class="btn btn-primary">
            Show
          </a>

          <a href="<%= edit_article_path(article.id) %>" class="btn btn-warning">
            Edit
          </a>

          <%= link_to "Excluir", article_path(article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Vai dar merda, tem certeza?"
                  }, class: "btn btn-danger" %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>